.news-card-list {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 64px;
  margin-top: 64px;
  }


  @media screen and (min-width: 734px) and (max-width:896px) {
  .news-card-list {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 32px;
    gap: 8px;
  }
}

@media screen and (min-width: 541px) and (max-width: 733px) {
  .news-card-list {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
    gap: 8px;
  }
}

@media screen and (max-width: 540px) {
  .news-card-list {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 16px;
    margin-top: 24px;
    gap: 10px;
  }
}